Naive Bayes Algorithm/Naive Bayes Classifier Dataset/train.csv
Iris-Dataset/skin.zip
Naive Bayes Algorithm/Naive Bayes Classifier Dataset/train.csv.zip
skin/output.txt
skin/threshold.txt
skinDetection/threshold.txt
